.. _contribution_guidelines:

============
Contributing
============

{% if os.path.exists('../CONTRIBUTING.rst') %}
.. include:: ../CONTRIBUTING.rst
{% else %}
.. include:: ./default/CONTRIBUTING
{% endif %}
